<div class="container">
	<div class="card col-xs-3 dashboard bg-faded">
		<%= link_to "ajouter compte", new_account_url, class:"btn btn-primary", remote:true %>
		<% if !@accounts.empty? %>
			<%= render partial:"/partial/account", collection:@accounts %>
		<% end %>
	</div>
</div>
