<p>
  <strong>Zip:</strong>
  <%= account.zip %>
</p>

<p>
  <strong>Libelle:</strong>
  <%= account.libelle %>
</p>
 <%= render partial:"/partial/last_transactions", collection: account.transactions, as: :transaction %>
